<!DOCTYPE html>

<head>

    <!-- Links to bootstrap, jquery (datatables) dependencies -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous">
        </script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://yadcf-showcase.appspot.com/resources/js/jquery.dataTables.yadcf.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- Links to filter.js and filter2.js to run filter sliders/buttons javascript code-->
    <script src="js/filter.js"></script>
    <script src="js/filterbuttons.js"></script>

    <!-- Links to jquery (datatables) dependencies -->
    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />

    <!-- Links to bootstrap dependency and mainpage.css for CSS styling -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mainpage.css">

    <meta charset=utf-8 />
    <title>RoomierCord - Find a Roommate</title>
</head>

<body">
    <div class="container-fluid m-0 p-0 full">
        <div id="home-page" class="full-height">
            <!-- Navigation bar -->
            <div class="navbar">
                <!-- Logo at top left -->
                <img src="img/roomiercordYELLOW.png" alt="" class="logo" />
                <nav>
                    <ul>
                        <li><a class="current" href="/mainpage">Find a Roommate</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </nav>
                <!-- Profile button at top right -->
                <a href="/editattributes">
                    <button type="button" class="button btn btn-lg profile">
                        Profile
                    </button>
                </a>
            </div>
            <!-- Showing results for *university name* headline/title -->
            <div class="showing-results">
                <h3 class="promo-title">
                    Showing Results for:
                </h3>
            </div>
            <!-- University name -->
            <div class="uni-name">
                <h1 class="promo-title" id="universityname">
                    <%= universityname %>
                </h1>
            </div>

            <!-- text for "Here's who we think would fit you best:""-->
            <h2 id="fit-best">Here's who we think would fit you best:</h2>

            <!-- Row to contain matching cards -->
            <div class="row" id="cardrow">
                <!-- First matching card -->
                <div class="card w-25" id="card1">
                    <div class="card-header">
                        <div class="row">
                            <!-- Name of first match -->
                            <h1 class="card-name">
                                <%= firstFirstName %>&nbsp;<%= firstLastName %>
                            </h1>
                            <!-- % match for first match -->
                            <h1 style="float:left" class="matchscore">
                                <%= firstmatchscore %>%
                            </h1>
                        </div>
                    </div>
                    <!-- Bio of first match -->
                    <div class="card-body" id="card-about">
                        <%= firstBio %>
                    </div>
                    <!-- Attributes and contact button for first matching card -->
                    <div class="row" id="logo-row">
                        <!-- Logo and value for first match's cooking attribute-->
                        <div class="col-sm-1"><img src="img/chef.png" alt="" class="attribute-logos" /></div>
                        <div class="col-sm-1 attribute-text">
                            <%= firstCooking %>
                        </div>
                        <!-- Logo and value for first match's cleanliness attribute-->
                        <div class="col-sm-1"><img src="img/spraycan.png" alt="" class="attribute-logos" /></div>
                        <div class="col-sm-1 attribute-text">
                            <%= firstCleanliness %>
                        </div>
                        <!-- Logo and value for first match's partying attribute-->
                        <div class="col-sm-1"><img src="img/wineglasses.png" alt="" class="attribute-logos" /></div>
                        <div class="col-sm-1 attribute-text">
                            <%= firstPartying %>
                        </div>
                        <!-- Contact button-->
                        <div class="col-sm-3"> <button data-toggle="modal" data-target="#contactmodal" type="button"
                                class="button btn btn-lg contact">
                                Contact
                            </button></div>
                    </div>
                </div>
                <!-- Second matching card -->
                <div class="card w-25" id="card1">
                    <div class="card-header">
                        <div class="row">
                            <!-- Name of second match -->
                            <h1 class="card-name">
                                <%= secondFirstName %>&nbsp;<%= secondLastName %>
                            </h1>
                            <!-- % match for second match -->
                            <h1 style="float:left" class="matchscore">
                                <%= secondmatchscore %>%
                            </h1>
                        </div>
                    </div>
                    <!-- Bio of second match -->
                    <div class="card-body" id="card-about">
                        <%= secondBio %>
                    </div>
                    <!-- Attributes and contact button for second matching card -->
                    <div class="row" id="logo-row">
                        <!-- Logo and value for second match's cooking attribute -->
                        <div class="col-sm-1"><img src="img/chef.png" alt="" class="attribute-logos" /></div>
                        <div class="col-sm-1 attribute-text">
                            <%= secondCooking %>
                        </div>
                        <!-- Logo and value for second match's cleanliness attribute -->
                        <div class="col-sm-1"><img src="img/spraycan.png" alt="" class="attribute-logos" /></div>
                        <div class="col-sm-1 attribute-text">
                            <%= secondCleanliness %>
                        </div>
                        <!-- Logo and value for second match's partying attribute -->
                        <div class="col-sm-1"><img src="img/wineglasses.png" alt="" class="attribute-logos" /></div>
                        <div class="col-sm-1 attribute-text">
                            <%= secondPartying %>
                        </div>
                        <!-- Contact button -->
                        <div class="col-sm-3"> <button data-toggle="modal" data-target="#contactmodal2" type="button"
                                class="button btn btn-lg contact">
                                Contact
                            </button></div>
                    </div>
                </div>
            </div>

            <h2 id="scroll-down">Scroll down to browse more users</h2>

            <!-- div to contain filters and datatable -->
            <div class="row" id="filters-and-table">

                <!-- Filters -->
                <div class="col-md-2" id="all-filters">

                    <!-- range slider filters -->
                    <div class="filters">
                        <h2>Filters</h2>
                        <label>Age:&nbsp;</label><input type="text" id="live_range_age" readonly class="filter-numbers">
                        <div id="age_range" style="width:80%"></div><br>

                        <!-- partying range slider -->
                        <label>Partying:&nbsp;</label><input type="text" id="live_range_party" readonly
                            class="filter-numbers">
                        <div id="party_range" style="width:80%"></div><br>

                        <!-- cleanliness range slider -->
                        <label>Cleanliness:&nbsp;</label><input type="text" id="live_range_clean" readonly
                            class="filter-numbers">
                        <div id="val_range_clean" style="width:80%"></div><br>

                        <!-- cooking range slider -->
                        <label>Cooking:&nbsp;</label><input type="text" id="live_range_cooking" readonly
                            class="filter-numbers">
                        <div id="cooking_range" style="width:80%"></div><br>

                        <!-- budget range slider -->
                        <label>Budget ($/m):&nbsp;</label><input type="text" id="live_range_budget" readonly
                            class="filter-numbers">
                        <div id="budget_range" style="width:80%"></div><br>

                        <!-- max distance range slider -->
                        <label>Max. Distance (km):&nbsp;</label><input type="text" id="live_range_maxdistance" readonly
                            class="filter-numbers">
                        <div id="maxdistance_range" style="width:80%"></div>
                    </div>
                    <br>
                    <!-- smoking radio buttons filter -->
                    <div id="smoking-filters" class="btn-group" data-toggle="buttons"
                        style="margin-top: 10px; margin-bottom: 10px; float:right; margin-right:5%">
                        <label style="float:left; margin-right:10px;">Smoking:&nbsp;</label>
                        <label id="gridDisplayAllLabel" class="btn filter-btn">
                            <input type="radio" name="GridDisplay" id="gridDisplayAll" autocomplete="off" value="all"
                                checked="checked" />
                            All
                        </label>
                        <label id="gridDisplayYesLabel" class="btn filter-btn">
                            <input type="radio" name="GridDisplay" id="gridDisplayYes" autocomplete="off" value="Yes" />
                            Yes
                        </label>
                        <label id="gridDisplayNoLabel" class="btn filter-btn">
                            <input type="radio" name="GridDisplay" id="gridDisplayNo" autocomplete="off" value="No" />
                            No
                        </label>
                    </div>

                    <!-- pets radio buttons filter -->
                    <div id="pets-filters" class="btn-group" data-toggle="buttons"
                        style="margin-top: 10px; margin-bottom: 20px; float:right; margin-right:5%">
                        <label style="float:left; margin-right:10px;">Pets:&nbsp;</label>
                        <label id="gridDisplayAllLabel2" class="btn filter-btn">
                            <input type="radio" name="GridDisplay2" id="gridDisplayAll2" autocomplete="off" value="all"
                                checked="checked" />
                            All
                        </label>
                        <label id="gridDisplayYesLabel2" class="btn filter-btn">
                            <input type="radio" name="GridDisplay2" id="gridDisplayYes2" autocomplete="off"
                                value="Yes" />
                            Yes
                        </label>
                        <label id="gridDisplayNoLabel2" class="btn filter-btn">
                            <input type="radio" name="GridDisplay2" id="gridDisplayNo2" autocomplete="off" value="No" />
                            No
                        </label>
                    </div>
                </div>

                <!-- div element to contain datatable -->
                <div class="col table-div">
                    <div class="table-responsive">
                        <!-- Datatable -->
                        <table id="sort_table" class="display nowrap datatable cell-border" width="100%">

                            <!-- table headings -->
                            <thead>
                                <tr>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">University</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Smoking</th>
                                    <th scope="col">Pets</th>
                                    <th scope="col">Partying</th>
                                    <th scope="col">Cleanliness</th>
                                    <th scope="col">Cooking</th>
                                    <th scope="col">Budget ($/m)</th>
                                    <th scope="col">Max. Distance (km)</th>
                                    <!-- Padding 0px to keep these columns very small,
                                    as they are needed in the table for the modal popups
                                    to pull from, but shouldn't be displayed. -->
                                    <th scope="col" class="bio" style="padding:0px 0px">Bio</th>
                                    <th scope="col" class="usernamehidden" style="padding:0px 0px">Username</th>
                                </tr>
                            </thead>
                            <!-- Body of table -->
                            <tbody>
                                <!-- iterates through list of users, places each attribute in the correct column -->
                                <%usersList.forEach(user=> {%>
                                    <tr>
                                        <!-- clicking on user's name toggles to modal popup -->
                                        <th class="firstname">
                                            <button class="userselect" data-toggle="modal" data-target="#usermodal">
                                                <%= user.firstname %>
                                            </button>
                                        </th>
                                        <td class="lastname">
                                            <%= user.lastname %>
                                        </td>
                                        <td class="age">
                                            <%= user.age %>
                                        </td>
                                        <td class="university">
                                            <%= user.university %>
                                        </td>
                                        <td class="gender">
                                            <%= user.gender %>
                                        </td>
                                        <td>
                                            <%= user.smoker %>
                                        </td>
                                        <td>
                                            <%= user.pets %>
                                        </td>
                                        <td>
                                            <%= user.partying %>
                                        </td>
                                        <td>
                                            <%= user.cleanliness %>
                                        </td>
                                        <td>
                                            <%= user.cooking %>
                                        </td>
                                        <td>
                                            <%= user.budget %>
                                        </td>
                                        <td>
                                            <%= user.maxdistance %>
                                        </td>
                                        <td class="bio" style="padding:0px 0px">
                                            <%= user.bio %>
                                        </td>
                                        <th class="username usernamehidden" style="padding:0px 0px" scope="row">
                                            <button class="userselect" data-toggle="modal" data-target="#usermodal">
                                                <%= user.username %>
                                            </button>

                                        </th>
                                    </tr>
                                    <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- adds spacing at the bottom of the page -->
            <div class="" id="spacing"></div>
        </div>
    </div>

    <!-- Javascript for modal popups variables-->
    <script id="modalscript">
        // Modal popup variables for clicking on a user's name in the datatable
        $(function () {
            // on clicking on user's name (wrapped by button element)
            $(".userselect").click(function () {
                //finding elements of rows and storing them as variables
                var a =
                    $(this).parents("tr").find(".username").text();
                var b =
                    $(this).parents("tr").find(".firstname").text();
                var c =
                    $(this).parents("tr").find(".lastname").text();
                var d =
                    $(this).parents("tr").find(".age").text();
                var e =
                    $(this).parents("tr").find(".university").text();
                var f =
                    $(this).parents("tr").find(".gender").text();
                var bio =
                    $(this).parents("tr").find(".bio").text();
                var p = "";
                var name = "";
                var genderage = "";

                // creating data to show on modal popup

                // combining first and last name into name
                name += b + " " + c;

                //combining gender and age to display together
                genderage += f + " " + d;

                //combining email, age, university and bio into "p" to display together
                p +=
                    "<p id='a' name='Email' >Email: "
                    + a + " </p>";

                p +=
                    "<p id='d' name='Age' >Age: "
                    + d + " </p>";
                p +=
                    "<p id='e' name='University' >University: "
                    + e + " </p>";
                p +=
                    "<p id='e' name='University'>Bio: "
                    + bio + " </p>";

                //clearing the prefilled data
                $("#divUSER").empty();
                $("#usermodalname").empty();
                $("#usermodallabel").empty();

                //appending the data to the modal
                $("#divUSER").append(p);
                $("#usermodalname").append(name);
                $("#usermodallabel").append(genderage);
            });
        });

        // Modal popup variables for clicking on contact button in 1st matching card
        $(function () {
            // on clicking contact button
            $(".contact").click(function () {

                //assigning each of the first matched user's attributes to a variable
                var a = "<%= firstmatchname %>";
                var b = "<%= firstFirstName %>";
                var c = "<%= firstLastName %>";
                var d = "<%= firstAge %>";
                var e = "<%= firstUniversity %>";
                var f = "<%= firstGender %>";
                var g = "<%= firstSmoker %>";
                var h = "<%= firstPets %>";
                var i = "<%= firstBudget %>";
                var j = "<%= firstMaxdistance %>";

                var p = "";
                var name = "";
                var genderage = "";

                // creating data to show on modal popup

                // combining first and last name into name
                name += b + " " + c;

                //combining gender and age to display together
                genderage += f + " " + d;

                //combining all other user attributes together
                p +=
                    "<p id='a' name='Email' >Email: "
                    + a + " </p>";

                p +=
                    "<p id='d' name='Age' >Age: "
                    + d + " </p>";
                p +=
                    "<p id='e' name='University' >University: "
                    + e + " </p>";
                p +=
                    "<p id='e' name='Smoking' >Smoking: "
                    + g + " </p>";
                p +=
                    "<p id='e' name='Pets' >Pets: "
                    + h + " </p>";
                p +=
                    "<p id='e' name='Budget' >Budget ($/m): "
                    + i + " </p>";
                p +=
                    "<p id='e' name='Smoking' >Max. Distance (km): "
                    + j + " </p>";
                //clearing the prefilled data
                $("#divUSER2").empty();
                $("#usermodalname2").empty();
                $("#usermodallabel2").empty();

                //appending the data to the modal
                $("#divUSER2").append(p);
                $("#usermodalname2").append(name);
                $("#usermodallabel2").append(genderage);
            });
        });

        // Modal popup variables for clicking on contact button in 2nd matching card
        $(function () {
            // on clicking contact button
            $(".contact").click(function () {

                //assigning each of the second matched user's attributes to a variable
                var a = "<%= secondmatchname %>";
                var b = "<%= secondFirstName %>";
                var c = "<%= secondLastName %>";
                var d = "<%= secondAge %>";
                var e = "<%= secondUniversity %>";
                var f = "<%= secondGender %>";
                var g = "<%= secondSmoker %>";
                var h = "<%= secondPets %>";
                var i = "<%= secondBudget %>";
                var j = "<%= secondMaxdistance %>";

                var p = "";
                var name = "";
                var genderage = "";

                // creating data to show on modal popup

                // combining first and last name into name
                name += b + " " + c;

                //combining gender and age to display together
                genderage += f + " " + d;

                //combining all other user attributes together
                p +=
                    "<p id='a' name='Email' >Email: "
                    + a + " </p>";

                p +=
                    "<p id='d' name='Age' >Age: "
                    + d + " </p>";
                p +=
                    "<p id='e' name='University' >University: "
                    + e + " </p>";
                p +=
                    "<p id='e' name='Smoking' >Smoking: "
                    + g + " </p>";
                p +=
                    "<p id='e' name='Pets' >Pets: "
                    + h + " </p>";
                p +=
                    "<p id='e' name='Budget' >Budget ($/m): "
                    + i + " </p>";
                p +=
                    "<p id='e' name='Smoking' >Max. Distance (km): "
                    + j + " </p>";
                //clearing the prefilled data
                $("#divUSER3").empty();
                $("#usermodalname3").empty();
                $("#usermodallabel3").empty();

                //appending the data to the modal
                $("#divUSER3").append(p);
                $("#usermodalname3").append(name);
                $("#usermodallabel3").append(genderage);
            });
        });
    </script>

    <!-- Modal popup for clicking on user's name in datatable-->
    <div class="modal fade" id="usermodal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- title of modal (first name, last name, gender and age) -->
                    <h2 class="modal-title" id="usermodalname">
                    </h2>
                    <h2 class="modal-title" id="usermodallabel">
                    </h2>
                </div>
                <!-- body of modal -->
                <div class="modal-body">
                    <div class="USERclass" id="divUSER"></div>
                    <div class="modal-footer">
                        <!-- close button at bottom of the modal -->
                        <button type="button" class="btn" data-dismiss="modal">
                            Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Model popup for "contact" button for first matched user card -->
    <div class="modal fade" id="contactmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- title of modal (first name, last name, gender and age) -->
                    <h2 class="modal-title" id="usermodalname2">
                    </h2>
                    <h2 class="modal-title" id="usermodallabel2">
                    </h2>
                </div>
                <!-- body of modal -->
                <div class="modal-body">
                    <div class="USERclass" id="divUSER2"></div>
                    <div class="modal-footer">
                        <!-- close button at bottom of the modal -->
                        <button type="button" class="btn" data-dismiss="modal">
                            Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Model popup for "contact" button for second matched user card -->
    <div class="modal fade" id="contactmodal2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- title of modal (first name, last name, gender and age) -->
                    <h2 class="modal-title" id="usermodalname3">
                    </h2>
                    <h2 class="modal-title" id="usermodallabel3">
                    </h2>
                </div>
                <!-- body of modal -->
                <div class="modal-body">
                    <div class="USERclass" id="divUSER3"></div>
                    <div class="modal-footer">
                        <!-- close button at bottom of the modal -->
                        <button type="button" class="btn" data-dismiss="modal">
                            Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>