<!DOCTYPE html>

<head>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://yadcf-showcase.appspot.com/resources/js/jquery.dataTables.yadcf.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/filter2.js"></script>

    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mainpage.css">

    <meta charset=utf-8 />
    <title>RoomierCord - Main Page</title>
</head>



<body class="others">
    <div class="container-fluid m-0 p-0 full">
        <div id="home-page" class="full-height">
            <!-- Navigation bar -->
            <div class="navbar">
                <img src="img/roomiercordYELLOW.png" alt="" class="logo" />
                <nav>
                    <ul>
                        <li><a class="current" href="/mainpage">Find a Roommate</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </nav>

                <a href="/editattributes">
                    <button type="button" class="button btn btn-lg sign-up">
                        Profile
                    </button>
                </a>
            </div>

            <div class="container">
                <h2 class="promo-title" id="editattributes">
                    Showing Results for:
                </h2>
                <h1 class="promo-title" id="editattributes">
                    <%= universityname %>
                </h1>
            </div>

            <div class="row">
                <div class="col-md-2">

                    <!-- range slider filters -->
                    <div class="filters">
                        <h2>Filters</h2>
                        <label>Age:&nbsp;</label><input type="text" id="live_range_age" readonly class="filter-numbers">
                        <div id="age_range" style="width:80%"></div><br>

                        <label>Partying:&nbsp;</label><input type="text" id="live_range_party" readonly
                            class="filter-numbers">
                        <div id="party_range" style="width:80%"></div><br>

                        <label>Cleanliness:&nbsp;</label><input type="text" id="live_range_clean" readonly
                            class="filter-numbers">
                        <div id="val_range_clean" style="width:80%"></div><br>

                        <label>Cooking:&nbsp;</label><input type="text" id="live_range_cooking" readonly
                            class="filter-numbers">
                        <div id="cooking_range" style="width:80%"></div><br>

                        <label>Budget ($/m):&nbsp;</label><input type="text" id="live_range_budget" readonly
                            class="filter-numbers">
                        <div id="budget_range" style="width:80%"></div><br>

                        <label>Max. Distance (km):&nbsp;</label><input type="text" id="live_range_maxdistance" readonly
                            class="filter-numbers">
                        <div id="maxdistance_range" style="width:80%"></div>
                    </div>
                    <br>
                    <!-- smoking radio buttons filter -->
                    <div id="smoking-filters" class="btn-group" data-toggle="buttons"
                        style="margin-top: 10px; margin-bottom: 10px; float:right; margin-right:5%">
                        <label style="float:left; margin-right:10px;">Smoking:&nbsp;</label>
                        <label id="gridDisplayAllLabel" class="btn">
                            <input type="radio" name="GridDisplay" id="gridDisplayAll" autocomplete="off" value="all"
                                checked="checked" />
                            All
                        </label>
                        <label id="gridDisplayYesLabel" class="btn">
                            <input type="radio" name="GridDisplay" id="gridDisplayYes" autocomplete="off" value="Yes" />
                            Yes
                        </label>
                        <label id="gridDisplayNoLabel" class="btn">
                            <input type="radio" name="GridDisplay" id="gridDisplayNo" autocomplete="off" value="No" />
                            No
                        </label>
                    </div>

                    <!-- pets radio buttons filter -->
                    <div id="pets-filters" class="btn-group" data-toggle="buttons"
                        style="margin-top: 10px; margin-bottom: 20px; float:right; margin-right:5%">
                        <label style="float:left; margin-right:10px;">Pets:&nbsp;</label>
                        <label id="gridDisplayAllLabel2" class="btn">
                            <input type="radio" name="GridDisplay2" id="gridDisplayAll2" autocomplete="off" value="all"
                                checked="checked" />
                            All
                        </label>
                        <label id="gridDisplayYesLabel2" class="btn">
                            <input type="radio" name="GridDisplay2" id="gridDisplayYes2" autocomplete="off" value="Yes" />
                            Yes
                        </label>
                        <label id="gridDisplayNoLabel2" class="btn">
                            <input type="radio" name="GridDisplay2" id="gridDisplayNo2" autocomplete="off" value="No" />
                            No
                        </label>
                    </div>

                </div>
                <!-- data table -->
                <div class="col-md-9">
                    <table id="sort_table" class="display nowrap datatable" width="50%">
                        <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">University</th>
                                <th scope="col">Gender</th>
                                <th scope="col">Smoking</th>
                                <th scope="col">Pets</th>
                                <th scope="col">Partying</th>
                                <th scope="col">Cleanliness</th>
                                <th scope="col">Cooking</th>
                                <th scope="col">Budget ($/m)</th>
                                <th scope="col">Max. Distance from School (km)</th>
                            </tr>
                        </thead>

                        <tbody>
                            <%usersList.forEach(user=> {%>
                                <tr>
                                    <th class="username" scope="row">
                                        <%= user.username %>
                                    </th>
                                    <td class="username">
                                        <%= user.firstname %>
                                    </td>
                                    <td class="username">
                                        <%= user.lastname %>
                                    </td>
                                    <td>
                                        <%= user.age %>
                                    </td>
                                    <td>
                                        <%= user.university %>
                                    </td>
                                    <td>
                                        <%= user.gender %>
                                    </td>
                                    <td>
                                        <%= user.smoker %>
                                    </td>
                                    <td>
                                        <%= user.pets %>
                                    </td>
                                    <td>
                                        <%= user.partying %>
                                    </td>
                                    <td>
                                        <%= user.cleanliness %>
                                    </td>
                                    <td>
                                        <%= user.cooking %>
                                    </td>
                                    <td>
                                        <%= user.budget %>
                                    </td>
                                    <td>
                                        <%= user.maxdistance %>
                                    </td>
                                </tr>
                                <%})%>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</body>

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

<!-- <table class="table">
    <thead>
        <tr>

            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">University</th>
            <th scope="col">Gender</th>
            <th scope="col">Smoking</th>
            <th scope="col">Pets</th>
            <th scope="col">Partying</th>
            <th scope="col">Cleanliness</th>
            <th scope="col">Cooking</th>
            <th scope="col">Max Budget</th>


        </tr>
    </thead>

    <tbody>
        <%usersList.forEach(user=> {%>
            <tr>
                <th scope="row">
                    <%= user.username %>
                </th>
                <td>
                    <%= user.firstname %>
                </td>
                <td>
                    <%= user.lastname %>
                </td>
                <td>
                    <%= user.university %>
                </td>
                <td>
                    <%= user.gender %>
                </td>
                <td>
                    <%= user.smoker %>
                </td>
                <td>
                    <%= user.pets %>
                </td>
                <td>
                    <%= user.partying %>
                </td>
                <td>
                    <%= user.cleanliness %>
                </td>
                <td>
                    <%= user.cooking %>
                </td>
                <td>$<%= user.budget %>/m</td>

            </tr>
            <%})%>

    </tbody>
</table> -->