<!DOCTYPE html>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous">
        </script>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://yadcf-showcase.appspot.com/resources/js/jquery.dataTables.yadcf.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="js/filter.js"></script>
    <script src="js/filter2.js"></script>

    <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mainpage.css">

    <meta charset=utf-8 />
    <title>RoomierCord - Main Page</title>
</head>

<body class="others">
    <div class="container-fluid m-0 p-0 full">
        <div id="home-page" class="full-height">
            <!-- Navigation bar -->
            <div class="navbar">
                <img src="img/roomiercordYELLOW.png" alt="" class="logo" />
                <nav>
                    <ul>
                        <li><a class="current" href="/mainpage">Find a Roommate</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </nav>

                <a href="/editattributes">
                    <button type="button" class="button btn btn-lg sign-up">
                        Profile
                    </button>
                </a>
            </div>

            <div class="row" id="big-text">
                <div class="showing-results">
                    <h3 class="promo-title">
                        Showing Results for:
                    </h3>
                </div>
                <div class="uni-name">

                    <h1 class="promo-title" id="universityname">
                        <%= universityname %>
                    </h1>
                </div>
            </div>

            <div class="row" id="cardrow">
                <div class="card w-25" id="card1">
                  <div class="card-header">
                    <h1><%= firstmatchname %> - <%= firstmatchscore %>%</h1>
                  </div>
                  <div class="card-body" id="card-about">
                  </div>
                </div>
                <div class="card w-25" id="card2">
                  <div class="card-header">
                    <h1><%= secondmatchname %> - <%= secondmatchscore %>%</h1>
                  </div>
                  <div class="card-body" id="card-about">
                  </div>
                </div>
              </div>

            <div class="row" id="filters-and-table">
                <div class="col-md-2" id="all-filters">

                    <!-- range slider filters -->
                    <div class="filters">
                        <h2>Filters</h2>
                        <label>Age:&nbsp;</label><input type="text" id="live_range_age" readonly class="filter-numbers">
                        <div id="age_range" style="width:80%"></div><br>

                        <label>Partying:&nbsp;</label><input type="text" id="live_range_party" readonly
                            class="filter-numbers">
                        <div id="party_range" style="width:80%"></div><br>

                        <label>Cleanliness:&nbsp;</label><input type="text" id="live_range_clean" readonly
                            class="filter-numbers">
                        <div id="val_range_clean" style="width:80%"></div><br>

                        <label>Cooking:&nbsp;</label><input type="text" id="live_range_cooking" readonly
                            class="filter-numbers">
                        <div id="cooking_range" style="width:80%"></div><br>

                        <label>Budget ($/m):&nbsp;</label><input type="text" id="live_range_budget" readonly
                            class="filter-numbers">
                        <div id="budget_range" style="width:80%"></div><br>

                        <label>Max. Distance (km):&nbsp;</label><input type="text" id="live_range_maxdistance" readonly
                            class="filter-numbers">
                        <div id="maxdistance_range" style="width:80%"></div>
                    </div>
                    <br>
                    <!-- smoking radio buttons filter -->
                    <div id="smoking-filters" class="btn-group" data-toggle="buttons"
                        style="margin-top: 10px; margin-bottom: 10px; float:right; margin-right:5%">
                        <label style="float:left; margin-right:10px;">Smoking:&nbsp;</label>
                        <label id="gridDisplayAllLabel" class="btn filter-btn">
                            <input type="radio" name="GridDisplay" id="gridDisplayAll" autocomplete="off" value="all"
                                checked="checked" />
                            All
                        </label>
                        <label id="gridDisplayYesLabel" class="btn filter-btn">
                            <input type="radio" name="GridDisplay" id="gridDisplayYes" autocomplete="off" value="Yes" />
                            Yes
                        </label>
                        <label id="gridDisplayNoLabel" class="btn filter-btn">
                            <input type="radio" name="GridDisplay" id="gridDisplayNo" autocomplete="off" value="No" />
                            No
                        </label>
                    </div>

                    <!-- pets radio buttons filter -->
                    <div id="pets-filters" class="btn-group" data-toggle="buttons"
                        style="margin-top: 10px; margin-bottom: 20px; float:right; margin-right:5%">
                        <label style="float:left; margin-right:10px;">Pets:&nbsp;</label>
                        <label id="gridDisplayAllLabel2" class="btn filter-btn">
                            <input type="radio" name="GridDisplay2" id="gridDisplayAll2" autocomplete="off" value="all"
                                checked="checked" />
                            All
                        </label>
                        <label id="gridDisplayYesLabel2" class="btn filter-btn">
                            <input type="radio" name="GridDisplay2" id="gridDisplayYes2" autocomplete="off"
                                value="Yes" />
                            Yes
                        </label>
                        <label id="gridDisplayNoLabel2" class="btn filter-btn">
                            <input type="radio" name="GridDisplay2" id="gridDisplayNo2" autocomplete="off" value="No" />
                            No
                        </label>
                    </div>

                </div>
                <!-- data table -->
                <div class="col table-div">
                    <div class="table-responsive">
                        <table id="sort_table" class="display nowrap datatable cell-border" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">University</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Smoking</th>
                                    <th scope="col">Pets</th>
                                    <th scope="col">Partying</th>
                                    <th scope="col">Cleanliness</th>
                                    <th scope="col">Cooking</th>
                                    <th scope="col">Budget ($/m)</th>
                                    <th scope="col">Max. Distance (km)</th>
                                    <th scope="col" class="bio" style="padding:0px 0px">Bio</th>
                                </tr>
                            </thead>

                            <tbody>
                                <%usersList.forEach(user=> {%>
                                    <tr>
                                        <th class="username" scope="row">
                                            <button class="userselect" data-toggle="modal" data-target="#usermodal">
                                                <%= user.username %>
                                            </button>

                                        </th>
                                        <td class="firstname">
                                            <%= user.firstname %>
                                        </td>
                                        <td class="lastname">
                                            <%= user.lastname %>
                                        </td>
                                        <td class="age">
                                            <%= user.age %>
                                        </td>
                                        <td class="university">
                                            <%= user.university %>
                                        </td>
                                        <td class="gender">
                                            <%= user.gender %>
                                        </td>
                                        <td>
                                            <%= user.smoker %>
                                        </td>
                                        <td>
                                            <%= user.pets %>
                                        </td>
                                        <td>
                                            <%= user.partying %>
                                        </td>
                                        <td>
                                            <%= user.cleanliness %>
                                        </td>
                                        <td>
                                            <%= user.cooking %>
                                        </td>
                                        <td>
                                            <%= user.budget %>
                                        </td>
                                        <td>
                                            <%= user.maxdistance %>
                                        </td>
                                        <td class="bio" style="padding:0px 0px">
                                            <%= user.bio %>
                                        </td>
                                    </tr>
                                    <%})%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            // ON SELECTING ROW
            $(".userselect").click(function () {
                //FINDING ELEMENTS OF ROWS AND STORING THEM IN VARIABLES
                var a =
                    $(this).parents("tr").find(".username").text();
                var b =
                    $(this).parents("tr").find(".firstname").text();
                var c =
                    $(this).parents("tr").find(".lastname").text();
                var d =
                    $(this).parents("tr").find(".age").text();
                var e =
                    $(this).parents("tr").find(".university").text();
                var f =
                    $(this).parents("tr").find(".gender").text();
                var bio =
                    $(this).parents("tr").find(".bio").text();

                var p = "";
                var name = "";
                var genderage = "";

                // CREATING DATA TO SHOW ON MODEL
                name += b + " " + c;

                genderage += f + " " + d;

                p +=
                    "<p id='a' name='Email' >Email: "
                    + a + " </p>";

                p +=
                    "<p id='d' name='Age' >Age: "
                    + d + " </p>";
                p +=
                    "<p id='e' name='University' >University: "
                    + e + " </p>";
                p +=
                    "<p id='e' name='University'>Bio: "
                    + bio + " </p>";

                //CLEARING THE PREFILLED DATA
                $("#divUSER").empty();
                $("#usermodalname").empty();
                $("#usermodallabel").empty();
                //WRITING THE DATA ON MODEL
                $("#divUSER").append(p);
                $("#usermodalname").append(name);
                $("#usermodallabel").append(genderage);
            });
        });
    </script>
    <!-- Modal popup -->
    <div class="modal fade" id="usermodal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- MODEL TITLE -->
                    <h2 class="modal-title" id="usermodalname">
                    </h2>
                    <h2 class="modal-title" id="usermodallabel">
                    </h2>
                </div>
                <!-- MODEL BODY -->
                <div class="modal-body">
                    <div class="USERclass" id="divUSER"></div>
                    <div class="modal-footer">
                        <!-- The close button in the bottom of the modal -->
                        <button type="button" class="btn" data-dismiss="modal">
                            Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>